:import {
  -st-from: './styles/flex-mixin';
  -st-default: flex;
  -st-from: './styles/variables.css';
  -st-named: blue, yellow, green, white, margin;
}

.root {
  text-align: center;
  background: value(green);
  height: 100%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: value(white);
  height: 100%;
}

.title {
  color: value(white);
  font-size: 40px;
  font-weight: normal;
  margin: value(margin) 0;
}

.blue {
  color: rgba(78, 205, 196, 1);
}

.yellow {
  color: rgba(255, 230, 109, 1);
}

button {
  margin-top: calc(value(margin) * 2);
  width: 200px;
}
